body {
    display: flex;
    justify-content: center;
}

#container {
    background-color: aqua;
    display: flex;
    width: 700px;
    height: 700px;
}

#test {
    background-color: red;
    width: 200px;
    height: 200px;
}

.etch-column {
    background-color: grey;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.etch-row {
    background-color: tan;
    flex-grow: 1;
}

.etch-row-on {
    background-color: black;
    flex-grow: 1;
}